body {
  height: auto;
  font-family: 'Poppins';
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #7f7f7f;
  background-color: #f7f7f7;
}

footer {
  display: flex;
  justify-content: center;
  background-color: white;
  margin-top: 50px;
  width: 100vw;
  padding-left: 60px;
}

h1,h2,h3 {
  font-weight: 400;
}

nav {
  display: flex;
  margin: auto;
  height: 100%;
}

ul {
  padding: 0;
}

.side-menu {
  position: fixed;
  height: 100%;
  width: 90px;
  margin: 0;
  background-color: #846e5e;
  transition: width 0.5;
  -webkit-transition: width 0.3s;
}

.side-menu:hover {
  width: 200px;
}

.side-menu:hover .navItemName {
  font-size: 12px;
}

.logo-box {
  display: flex;
  align-self: center;
  align-items: center;
  margin: 0;
  height: 100px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #875837;
}

.logo {
  width: 100%;
  font-size: 40px;
  font-weight: 200;
}

.navBar {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  height: 100%;
  padding-left: 17px;
}

.navItem {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  letter-spacing: 1.5px;
}

.navSection {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 20px 30px 10px 10px;
  align-items: center;
  border-radius: 10px;
  transition: 0.3s;
  -webkit-transition: all 0.55s;
}

.navSection:hover {
  background-color: #875837;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navItemName {
  margin-left: 20px;
  font-size: 0;
  font-weight: 300;
  letter-spacing: 2px;
  color: white;
}

.navItemName:hover {
  display: block;
}

.page-out {
  margin-left: 90px;
}

.page-in {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

.info {
  width: 100%;
  display: flex;
  align-items: center;
  height: 65vh;
}

.info-avatar {
  width: 100%;
  height: 320px;
  text-align: center;
}

.info-text {
  width: 100%;
}

.info-picture {
  border-radius: 50%;
  height: 100%;
  box-shadow: 10px 0 rgb(135, 88, 55), 20px 0 rgb(132, 110, 94);
}

.info-text {
  width: 100%;
  padding: 45px;
  /* height: 100%; */
}

.info-name {
  font-size: 40px;
  font-weight: 500;
  color: #85634a;
}

.info-smallBio {
  letter-spacing: 1px;
  font-size: 1rem;
  line-height: 1.4;
}

.info-links {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-links-resume {
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 40px;
  background-color: #85634a;
  color: white;
  letter-spacing: 2px;
  transition: all 0.5s;
}

.info-links-resume:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3);
}

.info-socialList {
  display: flex;
  list-style: none;
  margin-left: 30px;
}

.info-socialList li a {
  margin: 5px 10px;
  padding: 10px;
  border-radius: 6px;
  color: #85634a;
  border: 1px solid #eee;
  box-shadow: 0px 4px 6px rgb(134 151 168 / 10%);
  font-size: 1.3em;
  transition: all 0.5s;
}

.info-socialList li a:hover {
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
}

.section-block {
  margin-top: 50px;
}

.section-container {
  padding: 25px;
  width: 100%;
  background-color: white;
  border-radius: 50px;
  height: 100%;
}

.section-contianer p {
  padding: 50px;
  line-height: 1.4;
  font-size: 16px;
}

.section-head {
  width: 100%;
}

.section-preTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  font-size: 0.8em;
  letter-spacing: 1.5px;
}

.section-preTitle:before {
  display: block;
  content: "";
  width: 50px;
  height: 1px;
  margin-right: 20px;
  background: #875837;
}

.section-title {
  margin-top: 5px;
}

.section-grid {
  text-align: center;
  letter-spacing: 1px;
  font-size: .9rem;
  line-height: 2;
  padding-bottom: 40px;
}

.skillsGrid {
  display: grid;
  justify-content: center;
  padding: 0;
  grid-template-columns: auto auto auto;
  column-gap: 17%;
  list-style-type: none;
  padding-right: 50px;
}

.skillsGrid ul {
  background-color: white;
  padding: 0px;
  width: auto;
  margin: 0;
}


.skillsGrid li p {
  margin-top: 0px;
}

.project-box {
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  padding: 50px;
  margin-bottom: 50px;
  border: 1px solid #eee;
  transition: all 0.3s ease-in;
}

.project-box h2 {
  margin-top: 0;
}

.contact-types {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.contact-typeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #dadada;
  width: 40%;
  margin: 10px;
  padding: 20px 20px 0 20px;
  border-radius: 50px;
  transition: all 0.3s ease-in;
}

.contact-typeBox:hover {
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
}

.contact-email {
  padding: 30px;
  background: rgba(241, 221, 223, 0.6);
  border-radius: 7px;
  margin-bottom: 25px;
}

.contact-calendly {
  padding: 30px;
  background: rgba(200, 184, 138, 0.3);
  border-radius: 7px;
  margin-bottom: 25px;
}
 .contactSend {
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 40px;
  background-color: #875837;
  color: white;
  letter-spacing: 2px;
  transition: all 0.5s;
  width: fit-content;
}

.contactSend:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3);
}

.contactForm {
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 400px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 2px;
  text-align: center;
}

.contactForm h1 {
  background: #875837;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin: -16px -16px 16px -16px;
}

.contactForm input[type="text"],
.contactForm input[type="date"],
.contactForm input[type="datetime"],
.contactForm input[type="email"],
.contactForm textarea,
.contactForm select {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: transparent;
  margin-bottom: 4%;
  border: #000;
  border-bottom: 2px solid #875837;
  padding: 3%;
  color: rgb(107, 105, 105);
  font: 95% Arial, Helvetica, sans-serif;
  border-radius: 2px;
}

.contactForm input[type="text"]:focus,
.contactForm input[type="date"]:focus,
.contactForm input[type="datetime"]:focus,
.contactForm input[type="email"]:focus,
.contactForm textarea:focus,
.contactForm select:focus {
  box-shadow: 0 0 5px #875837;
  padding: 3%;
  border: 1px solid #875837;
  border-radius: 2px;
}

.contactForm input[type="submit"],
.contactForm input[type="button"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 75%; /* Modify this line */
  margin: 0 auto; /* Add this line */
  margin-top: 2rem;
  padding: 3%;
  background: #85634a;
  border-bottom: 2px solid #85634a;
  border-radius: 23px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
  font-size: 20px;
}

.display {
  height: auto;
  width: auto;
  text-align: left;
  color: #fff;
  display: inline;
  font-size: 25px;
  font-weight: 200;
  line-height: 22px;
  border-bottom: 3px solid #bb86fc;
}
  
form {
  margin: 15px auto;
  color: #000;
}
  
.form-comtainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {

  .logo-box {
    display: none
  }
  
  .logo {
    display: none
  }

  .side-menu {
    height: auto;
    width: 100%;
    padding: 10px;
    transition: none;
    position: relative; /* Add this line */

  }

  .side-menu:hover {
    width: 100%;
  }

  .side-menu:hover .navItemName {
    font-size: 12px;
  }
  
  .navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .navSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    background-color: transparent;
    transition: none;
  }

  .navItem {
    margin: 0;
  }

  .navItemName {
    display: none;
  }

  .navSection:hover {
    background-color: #875837;
    box-shadow: none;
  }

  .page-out {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 1px;
  }
  
  .page-in {
    width: 100%;
    margin: auto;
    padding: auto;
    max-width: auto;
  }

  .info {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    padding: 0px;
  }

  .info-avatar {
    display: flex;
    justify-content: flex-start;
    height: auto;
    margin-bottom: 20px;
  }

  .info-picture {
    width: 190px;
    height: 190px;
    margin-left: 25px; /* Adjust the value as needed */
  }

  .info-text {
    width: 100%;
    padding: 0;
  }

  .info-name {
    font-size: 30px;
  }

  .info-smallBio {
    font-size: 0.9rem;
  }

  .info-links {
    margin-top: 20px;
  }

  .info-links-resume {
    padding: 8px 20px;
    font-size: 0.9rem;
  }

  .info-socialList li a {
    margin: 5px;
    padding: 8px;
    font-size: 1rem;
  }

  .skillsGrid {
    grid-template-columns: auto;
    row-gap: 20px;
  }

  .skillsGrid ul {
    width: 100%;
  }

  .section-container {
    padding: 50px;
  }

  .contact-types {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .contact-typeBox {
    flex-basis: 100%;
  }
}
